@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Oleo+Script+Swash+Caps:wght@700&family=Open+Sans:wght@500;700&family=Poppins:wght@600&display=swap');



*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html{
  
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
  

  font-size: 16px;
  text-decoration: none;
  list-style: none;
}
.header{
  background-image: url("./bg-hero-desktop.svg");
  height:60vh;
  width:100%;
}
  .nav{

  
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

} 
.button-first{
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  color:black;
  border: 2px solid lightblue;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: white;

}
.button-first:hover{
  background-color: blueviolet;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
h1{
  font-size: 900;
}
h3{
  padding-top:2rem;
  font-size:700;
}
.hero-section{
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:300px;
  
}
.double{
  width:600px;
  height:400px;
}
.button-two{
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  color:black;
  border: 2px solid lightblue;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  text-transform: capitalize;
  background-color:hsl(322, 100%, 66%);
  font-family:'Open Sans', sans-serif ;
} 
.content-container-1{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  margin:5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.grow-together{
  height:300px;
  width:400px;
}
.para{
  padding-top: 2rem;
}
.content-container-2{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  
  margin:5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.conversation{
  height:300px;
  width:400px;
}
.con{
  padding-top: 2rem;
}
.content-container-3{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  margin:5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
ul{
  text-decoration: none;
  list-style-type: none;
}
.users-your{
  height:300px;
  width:400px;
}
.users{
  padding-top: 2rem;
}
.footer-one{
  height:25rem;
  
  background-color:hsl(192, 100%, 9%);
  color:white;
}



.contact-container{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  
}
.cont{

  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  font-family:'Open Sans', sans-serif ;
  font-weight: 400;
  
  
}
.questions{
  flex-direction: column;
  align-items: center;
}
.logo-footer{
  height:40px;
  width:100px;
  margin-top:5rem;
  margin-left:12rem;
  filter: grayscale(200%);
  filter: brightness(30);
  
  
  
}
.soc-list{
  display: flex;
  gap:1rem;
}
  a:hover{
    color: brown;

  }
  

i{
  color:white ;
}
  


.ques{
  gap:2rem;
  font-size: 15px;
}
.careers{
  gap:2rem;
  font-size: 15px;
}
.special-container{
  padding:2rem;
  margin-left:35%;
  height:200px;
  width:40%;
  border:0px solid;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  z-index:1;
  position:relative;
  bottom:-100px;
  background-color: white;
  
  text-align: center;
}
.location-one{
  text-decoration: none;
  color:white;
}
.button-two:hover{
  color:aqua;
  background-color: blueviolet;
}
.copyright{
  display:flex;
  align-items: flex-end;
  justify-content: right;
  color:white;
  margin-top:45px ;
}


@media screen  and (max-width:728px) {
  .nav{
    padding-left:0rem;
    display:flex;
  
    justify-content:space-between;
  }
  .header{
    height:100vh;
  }
  .button-first{
    width:150px;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
  font-size: 1rem;
  color:black;
  border: 4px solid lightblue;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: white;
  margin-left:8rem;
    
  }
    
    
    
  
  
  .logo{
    width:100px;
    height:70px;
    margin-left: 4rem;
  }
  
  .double{
    margin-top: 4rem;
    
    width:200px;
    height:150px;
    
    
    
  }
  .hero-left-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:500px;
    text-align: center;
  }
  .content-container-1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grow-together{
    width:150px;
    height:150px;
  }
  .grow{
    text-align: center;
  }
  .build{
    text-align: center;
  }
  .reimage{
    text-align: center;
  }
  .content-container-2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .conversation{
    width:150px;
    height:150px;
  }
  .content-container-3{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .users-your{
    width:150px;
    height:150px;
  }
  .flowing{
    text-align: center;
  }
  .you{
    text-align: center;
  }
  .footer-one{
    width:500px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  .special-container{
   align-self: center;
   margin-left:20% ;
   bottom:-50px;
   width:90%;
    

  }
  .logo-footer{
    width:80px;
    height:20px;
    margin-right: 80px;
    filter: grayscale(200%);
    filter: brightness(30);
    
  }
  .social-media{
    display: flex;
    align-items: flex-start;
    justify-content:center ;

  }
  .soc-list{
    align-self: flex-start;
  }
    
  
  
  .questions{
    margin-left: 0.1rem;
    margin-top:1rem;
  }
  .career{
    margin-left: 0.1rem;
  }
  .logo-end{
    display:flex;
    align-items:flex-start ;
    margin-right:100px ;
    filter:grayscale(200%);
    
    
  }
  .ques{
    margin-bottom: 2rem;
  }
  .careers{
    margin-bottom: 1rem;
  }

}

  
  
  

 
  
  
