*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html{
  
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}
.header{
  background-image:url("./bg-hero-desktop.svg") ;
  height:70vh;
  width:100%;
}
  .nav{

  
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

} 
.button-first{
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  color:black;
  border: 2px solid lightblue;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: white;

}
h1{
  font-size: 900;
}
h3{
  padding-top:2rem;
  font-size:700;
}
.hero-section{
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.double{
  width:600px;
  height:400px;
}
.button-two{
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  color:black;
  border: 2px solid lightblue;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #cc0b8c;
} 
.content-container-1{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  margin:4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.grow-together{
  height:300px;
  width:400px;
}
.para{
  padding-top: 2rem;
}
.content-container-2{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  
  margin:4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.conversation{
  height:300px;
  width:400px;
}
.con{
  padding-top: 2rem;
}
.content-container-3{
  padding:2rem;
  height:400px;
  width:90%;
  border:0px solid;
  border-radius:25px ;
  border-color: gray;
  box-shadow: 0px 1px 10px 0.1px gray;
  
  margin:4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
ul{
  text-decoration: none;
  list-style-type: none;
}
.users-your{
  height:300px;
  width:400px;
}
.users{
  padding-top: 2rem;
}
.footer{
  height:25rem;
  background-color: green;
}

.contact-container{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  
}
.cont{

  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  
  
}
.questions{
  flex-direction: column;
  align-items: center;
}
.logo-footer{
  margin-left:12rem;
}
.soc-list{
  display: flex;
  gap:4rem;
}
.ques{
  gap:2rem;
}
.careers{
  gap:4rem;
}



  
  
  

 
  
  
